@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --primarycolor: #2D2D2D;
    --secondarycolor: #F2F2F2;
    --accentcolor: #218DCE;
    --backgroundcolor: rgb(214, 214, 214);
    --boxshadow: 0 .2em .5em hsl(0 0% 0% / 0.4);
    --borderradius: .55rem;
    --fontwstandard: 400;
    --fontwlight: 300;
    --fontwbold: 700;
}

/* Smart organized css */

/* .selector { */
    /* display things */
    /* positioning things */
    /* box-model things */
    /* typography things */
    /* manipulation things */
    /* misc */
/* } */


/*------------
----RESETS----
------------*/


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* a reset */
a {
    text-decoration: none;
}

/* Images reset */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

body {
    background-color: var(--backgroundcolor);
    font-family: 'Public sans', 'Mohave', 'Open Sans', sans-serif;
    overflow-x: hidden;
}


/*------------
--UTILITIES---
------------*/

.bold {
    font-weight: var(--fontwbold);
    display: inline-block;
    padding: 1rem 0;
}

.grid-span2 {
    grid-column: 1 / 3;
}

.span-p {
    color: var(--secondarycolor);
    text-decoration: underline;
    font-weight: var(--fontwbold);
}


/*--------------------------
--HEADLINES and text sizes--
--------------------------*/

h1 {
    margin: 0;
    font-family: 'Mohave';
    font-size: clamp(5rem, 10vw, 20rem);
    color: var(--secondarycolor);
    padding: 0 2rem;
    line-height: .9;
    text-shadow: 0px 2px 5px hsl(0 0% 0% / 0.3);

}

/* Section headline */
h2 {
    margin-top: 5rem;
    margin-bottom: 0;
    font-family: 'Mohave';
    font-size: clamp(3.25rem, 5vw, 6rem);
    line-height: .9;
    font-weight: var(--fontwstandard);
    color: var(--primarycolor);
}

/* Section sub headline */
h3 {
    margin: 0rem 0rem;
    font-family: 'Mohave';
    font-size: clamp(2.125rem, 3vw, 3rem);
    color: var(--primarycolor);
}

/* Category */
h4 {
    margin: 0rem;
    font-family: 'Mohave';
    /* font-size: 1.125rem; */
    font-size: clamp(1.125rem, 1.7vw, 1.25rem);
    color: var(--primarycolor);
    opacity: .5;
}

/* Skills headline */
h5 {
    font-family: 'Public sans';
    font-size: 1.125rem;
    color: var(--secondarycolor);
}

p {
    /* font-size: 1rem; */
    font-size: clamp(1rem, 1vw, 1.125rem);
    font-family: 'Public Sans';
    line-height: 1.5;
    max-width: 25rem;
}


/*------------
--HEADER/NAV--
------------*/

header {
    /* min-height: 10vh; */
    min-height: 10%;
    background-color: var(--primarycolor);
    display: flex;
}

.nav-container {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.site-nav {
    display: flex;
}

.logo {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: 'Public Sans';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.logo a {
    color: white;
}

.logo img {
    height: 1.8rem;
}

.site-nav a {
    color: var(--secondarycolor);
    text-transform: uppercase;
    font-family: 'Mohave';
    font-size: 1.25rem;
    padding: 0;
    margin: 0 1.5rem;
    position: relative;
    transition: all ease-in-out 150ms;
}


.site-nav a::before {
    content: '';
    height: 2px;
    background-color: var(--secondarycolor);
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 150ms;
}


@media (hover: hover) {    
    .site-nav a:hover {
        color: var(--accentcolor);
    }
    .site-nav a:hover::before {
        width: 100%;
    }
}

.mobile-nav-toggle {
    display: none;
}


/*----------------
--HAMBURGER MENU--
----------------*/

@media (max-width: 670px) {
    .nav-container {
        justify-content: center;  
    }

    .site-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        height: 100%;
        background: hsl(0 0% 5% / 1);
        padding-bottom: 5rem;
        transform: translateX(100%);
        transition: 150ms ease-out;
    }

    .site-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    @supports (backdrop-filter: blur(1rem)) {
        .site-nav {
            background: hsl(0 0% 0% / 0.6);
            backdrop-filter: blur(1rem);
        }
    }

    .site-nav a {
        display: flex;
        justify-content: end;
        margin: 0;
        padding: .5rem 1rem;
        font-size: 2rem;
        border-bottom: 1px solid hsl(0 0% 100% / 0.1);
    }

    .site-nav a::before {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 9999;
        background-color: white;
        box-shadow: var(--boxshadow);
        border: 0;
        border-radius: .25rem;
        background-image: url("../img/menu.svg");
        background-position: center;
        background-size: 1.5rem;
        background-repeat: no-repeat;
        width: 3rem;
        height: 3rem;
        bottom: 1rem;
        right: 1rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../img/cross.svg");
    }
}


/*---------------------
--CENTER ALL SECTIONS--
---------------------*/

#hero, #featured, #portfolio, #skills, #reviews, #about {
    text-align: center;
}

p {
    margin-inline: auto;
}


/*----------
----HERO----
----------*/

#hero {
    background: url("../img/hero-img-blur.jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    /* height: 90vh; */
    height: 90%;
}

.wrapper-hero {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.herop {
    padding: 2rem 2rem;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    font-weight: var(--fontwbold);
    line-height: 1.6;
    color: var(--secondarycolor);
    text-shadow: 0px 2px 5px hsl(0 0% 0% / 0.3);
    /* display: none; */
}

.hero-cta {
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 1%;
    margin-left: auto; 
    margin-right: auto; 
    z-index: 2;
    transform: translate(-50%, -50%);
    background-color: hsl(0 0% 0% / 0);
    color: hsl(0 0% 100% / 0.5);
    border: 0;
    font-family: 'Mohave';
    font-weight: var(--fontwstandard);
    animation: bounce 0.8s infinite alternate;
}

@keyframes bounce {
    from {transform: translateY(0px);}
    to {transform: translateY(-.5rem);}
}

.hero-cta img {
    max-width: 1rem;
    opacity: .5;
}

/* Buttons for next and prev */
.wrapper-nxtprv {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.5rem .5rem;
    max-width: 1500px;
}
.button-nxtprv {
    flex-basis: 200px;
    background-color: var(--secondarycolor);
    
    /* background-image: url(/img/chevron-left-solid.svg);
    background-position: 5%;
    background-size: .75rem;
    background-repeat: no-repeat; */
    
    color: var(--primarycolor);
    padding: .125rem 1rem;
    border: 1px solid #c4c4c4;
    border-radius: var(--borderradius);
    text-transform: uppercase;
    transition-duration: 0.3s;
    cursor: pointer;
}

/* .button-nxtprv:last-of-type {
    background-image: url(/img/chevron-right-solid.svg);
    background-position: 95%;
} */
.button-nxtprv a:visited {
    color: inherit;
}

@media (hover: hover) {
    .button-nxtprv:hover {
        background-color: var(--primarycolor);
        color: var(--secondarycolor);
    }
}

/*------------
---FEATURED---
------------*/

.wrapper {
    background: white;
    padding-top: 3rem;
    max-width: 1500px;
}

#featured p {
    padding: 2rem;
}

#featured img {
    max-width: 100%;
    object-fit: contain;
}




/*-----------------
--CASES/PORTFOLIO--
-----------------*/

#portfolio { 
    max-width: 1200px;
    padding-top: 1px;
}

.case-container {
    position: relative;
    margin: .5rem;
    border-radius: var(--borderradius);
    overflow: hidden;
}

.case-container:last-child {
    padding-bottom: 0;
}


.case-container img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: relative;
    transform: scale(1);
    filter: brightness(100%);
    overflow: hidden;
}

.case-container a {
    padding: 0;
    cursor: pointer;
}

/* CASES OVERLAY */
.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0 0% 0% / 0.6);
    transition: 200ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(.3rem);
}

.topleft {
    pointer-events: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    font-family: 'Mohave';
    font-size: 2.25rem;
    text-transform: uppercase;
    color: black;
    /* text-shadow: 0px 1px 1px hsl(0 0% 100% / 0.6); */
    /* transform: translate(0rem); */
    transform: translateY(-100%);
    transition: all 250ms ease;
}

.topleft-white {
    color: white;
}

.overlay-container p {
    position: absolute;
    top: 4rem;
    left: 1rem;
    text-align: left;
    color: var(--secondarycolor);
    font-size: 1.125rem;
    transition: all 250ms ease;
}

@media (hover: hover) {
    .case-container:hover .overlay-container {
        opacity: 1;
    }
    .case-container:hover img {
        transform: scale(1.05);
        filter: brightness(110%);
    }

    .case-container:hover .topleft {
        transform: translateY(0);
    }
}

.case-container:focus-within .overlay-container {
    opacity: 1;
}
.case-container:focus-within img {
    transform: scale(1.05);
    filter: brightness(110%);
}

.case-container:focus-within .topleft {
    transform: translateY(0);
}

/* CASES DETAILS */
.wrapper-details {
    text-align: center;
    background-color: var(--backgroundcolor);
    max-width: 1500px;
    margin: 0 .5rem;
}

#details p {
    padding: 4rem 2rem 1rem 2rem;
}

#details video {
    object-fit: cover;
    /* height: 100%; */
    width: 100%;
    pointer-events: none;
    border-radius: var(--borderradius);
}

/* Disable modal in mobile */
#details img {
    /* width: 100%; */
    margin-top: .5rem;
    pointer-events: none;
    border-radius: var(--borderradius);
}
.modal {
    display: block;
}


/*------------
----SKILLS----
------------*/

#skills {
    padding-top: 3rem;
    padding-bottom: .25rem;
    background: white;
}

.wrapper-skills {
    max-width: 1200px;
}

.skills-container {
    background-color: var(--primarycolor);
    padding: 2rem;
    margin: 1.5rem 1rem;
    border-radius: .5rem;
    box-shadow: var(--boxshadow);
}

.skills-container p {
    color: var(--secondarycolor);
}


/*
=============== 
Reviews
===============
*/

.review {
    background-color: var(--secondarycolor);
    margin: 1rem 1rem 5rem 1rem;
    max-width: 620px;
    padding: 3.5rem 2rem;
    border-radius: var(--borderradius);
    text-align: center;
    box-shadow: var(--boxshadow);
  }

  .img-container {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 500%;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: 1.5rem;
  }


  #person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 500%;
    position: relative;
  }

  .img-container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(35%) scale(1);
    transition: 250ms ease;
    background: var(--accentcolor);
    color: var(--secondarycolor);
  }
  .img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--accentcolor);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    transform: scale(1.04);
    transition: transform 200ms ease;
  }
  @media (hover: hover) {
      .img-container:hover::after {
        transform: translateY(25%) scale(1.06);
      }
      .img-container:hover::before {
          transform: scale(1.06);
      }
}
  #author {
    margin: 0 auto;
    text-transform: capitalize;
  }
  #job {
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--accentcolor);
    font-size: 1.25rem;
    font-weight: var(--fontwbold);
  }
  #info {
    margin: 1rem auto;
    position: relative;
    min-height: 8rem;
  }

  /* #info::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    place-items: center;
    color: var(--accentcolor);
  } */

  .prev-btn,
  .next-btn {
    color: var(--accentcolor);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 1rem 0.5rem;
    transition: transform 250ms ease, color 250ms ease;
    cursor: pointer;
  }
  .prev-btn:hover,
  .next-btn:hover {
    color: var(--primarycolor);
    transform: scale(1.25);
  }
  .random-btn {
    background: var(--accentcolor);
    color: var(--secondarycolor);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: var(--borderradius);
    transition: all 250ms ease;
    border: 0;
    outline: 2px solid var(--accentcolor);
    cursor: pointer;
  }
  .random-btn:hover {
    background: var(--secondarycolor);
    color: var(--accentcolor);
    outline: 2px solid var(--accentcolor);
  }


/*-----------
----ABOUT----
-----------*/

#about {
    max-width: 1500px;
    padding-top: 1px;
    /* background-color: var(--secondarycolor); */
}

#about p {
    padding: 2rem;
}

#about img {
    max-width: 100%;
}


/*--------------
--CONTACT FORM--
--------------*/

.contact {
    text-align: center;
}

.contact p {
    padding: 1rem 4rem;
}
  
label {
    display: block;
    color: var(--primarycolor);
    margin: .5rem 0;
}
  
input, textarea {
width: 70%;
resize: none;
padding: .8em;
font-family: 'Public sans';
margin-bottom: 1em;
border-radius: .25rem;
border: 1px solid #c4c4c4;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

input[type="submit"] {
background-color: var(--accentcolor);
color: white;
margin-bottom: 5em;
display: inline-block;
padding: .8em 2em;
/* width: unset; */
cursor: pointer;
font-family: "Mohave", sans-serif;
font-size: 1.25rem;
}

iframe {
width: 100%;
max-height: 20rem;
}

.required {
    color: red;
    font-size: 1.25rem;
}

#messages {
    width: 70%;
    border-radius: var(--borderradius);
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 1.25rem;
}


/*----------
---FOOTER---
----------*/

footer {
    padding: 2rem 1rem 1rem 1rem;
    background-color: var(--primarycolor);
}

.wrapper-footer {
    max-width: 1500px;
}

.wrapper-footer > * {
    margin-top: 2rem;
}

footer h3 {
    color: var(--secondarycolor);
    font-size: 1.5rem;
}

footer p, footer a {
    color: var(--secondarycolor);
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0;
    padding: .25rem 0rem;
}

footer a:hover {
    color: var(--accentcolor);
}

footer .copy p {
    display: block;
    text-align: center;
    margin-top: 2rem;
    justify-content: center;
    margin-inline: auto;
    max-width: 30rem;
}

footer img {
    width: 2rem;
}


/*--------------------
---MEDIA RESPONSIVE---
--------------------*/

/* Tablets portrait */

@media (min-width: 670px) {
    header {
        position: fixed;
        top: 0;
        z-index: 9999;
        /* margin-inline: auto; */
        width: 100%;
    }

    #hero {
        height: 100vh;
    }
 
    .container-portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 2rem;
    }

    .review {
        margin-inline: auto;
    }

    #contact {
        padding-top: 10vh;
    }
}


/* Small screens/laptops */

@media (min-width: 850px) {
    html {
        scroll-padding: 9vh;
    }
    
    img.hover-shadow {
        transition: 0.2s;
    }
    .hover-shadow:hover {
        box-shadow: 0 .125em .5em 0 rgba(0, 0, 0, 0.5);
    }

    #skills,
    #portfolio,
    .wrapper,
    .wrapper-skills,
    .wrapper-footer,
    .wrapper-details,
    #about,
    #contact {
        margin-inline: auto;
    }

    .wrapper-nxtprv {
        padding: 2rem;
        padding-top: 16vh;
    }

    /* Split view for featured and details */
    .wrapper, .wrapper-details {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-content: center;
        gap: 2rem;
        padding: 0 2rem;
    }

    .wrapper {
        padding: 4rem 2rem;
    }

/* Grid for detail images */
    .wrapper-details:nth-child(3) {
        margin-top: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    h2 {
        margin: 0;
    }

    .featured-left, .details-left, .contact-left {
        text-align: left;
        align-self: center;
    }

    #featured p, #details p, .contact p {
        padding: 0;

    }

    #featured img, #details img {
        border-radius: var(--borderradius);
        object-fit: contain;
        aspect-ratio: auto;
    }

    #portfolio {
        padding: 10rem 2rem;
    }



    .case-container img {
        border-radius: var(--borderradius);
    }

    #skills, #reviews {
        padding: 10rem 2rem;
    }

    #skills .container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 2rem;
    }

    .skills-container {
        padding: 3rem;
        margin: 0;
    }

    #about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 10rem 2rem;
        align-items: center;
    }

    #about p {
        text-align: left;
        padding: 0;
    }

    #about h2 {
        grid-column: span 2;
    }

    #about img {
        border-radius: var(--borderradius);
    }

    .wrapper-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
    }

    footer > * {
        padding: 1rem;
    }

    footer .copy {
        grid-column: 1 / 4;
    }

    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* align-items: center; */
        max-width: 1200px;
        padding-inline: 2rem;
    }

    .contact p {
        margin-left: 0;
    }

    iframe {
        grid-column: span 2;
    }

    input, textarea {
        width: 100%;
    }
}


/* Desktop with modal */

@media (min-width: 1025px) {
    p {
        margin-left: 0;
    }

    .herop {
        margin: 0 auto;
    }

    #featured {
        background-color: white;
    }

    .wrapper {
        margin-block: auto;
        height: 100vh;
    }

    #about p {
        margin-inline: auto;
    }

    #details img {
        pointer-events: auto;
        cursor: pointer;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        padding: 1rem;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: hsl(0 0% 0% / 0.5);
        backdrop-filter: blur(1.5rem);
        animation: blur 250ms ease-out;
        animation-direction: alternate;
    }
    
    .modal-content {
        position: relative;
        display: grid;
        place-items: center;
        margin: auto;
        padding: 0;
        width: 96vh;
        height: 100%;
        opacity: 1;
        animation: opacity 250ms ease;
    }

    @keyframes opacity {
        from {opacity: 0}
        to {opacity: 1}
    }
    @keyframes blur {
        from {backdrop-filter: blur(0rem); background-color: hsl(0 0% 0% / 0)}
        to {backdrop-filter: blur(1.5rem); background-color: hsl(0 0% 0% / .5)}
    }
   
    .modal-content img {
        border-radius: var(--borderradius);
        /* outline: 1px solid hsl(0 0% 100% / 0.6); */
        box-shadow: -.5rem 2rem 2rem hsl(0 0% 0% / 0.5);
    }
      
    .close {
        color: white;
        position: absolute;
        top: .5rem;
        right: .5rem;
        font-size: 3rem;
        font-weight: bold;
        line-height: .5;
        padding: 1rem;
        transition: 150ms ease;
    }
    
    .close:hover,
    .close:focus {
        color: var(--accentcolor);
        text-decoration: none;
        cursor: pointer;
        transform: scale(1.2);
    }

    /* Hide slides def */
    .slides {
        display: none;
    }
      
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 999999;
        width: auto;
        padding: 1rem;
        color: var(--secondarycolor);
        font-weight: bold;
        font-size: 1rem;
        transition: 250ms ease;
        border-radius: var(--borderradius);
        user-select: none;
        -webkit-user-select: none;
    }
      
    .next {
        right: 1rem;
      }
      
    .prev:hover,
    .next:hover {
        background-color: var(--accentcolor);
        transform: scale(1.05);
    }
      
    .numbertext {
        color: var(--secondarycolor);
        /* padding: 8px 12px; */
        position: absolute;
        top: 2%;
        left: 2%;
    }
}
