@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;700&display=swap');

:root {
    --primarycolor: #2D2D2D;
    --secondarycolor: #F2F2F2;
    --accentcolor: #218DCE;
    --backgroundcolor: rgb(214, 214, 214);
    --boxshadow: 0 .2em .5em hsl(0 0% 0% / 0.4);
    --borderradius: .55rem;
    --fontwstandard: 400;
    --fontwlight: 300;
    --fontwbold: 700;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* a reset */
a {
    text-decoration: none;
}

/* Images reset */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

body {
    background-color: var(--backgroundcolor);
    font-family: 'Mohave', 'Open Sans', sans-serif;
    overflow-x: hidden;
}


/* UTILITIES */

.bold {
    font-weight: var(--fontwbold);
    display: inline-block;
    padding: 1rem 0;
}

/* HEADLINES and text sizes */

h1 {
    margin: 0;
    font-size: 5rem;
    color: var(--secondarycolor);
}

/* Section headline */
h2 {
    margin-top: 5rem;
    margin-bottom: 0;
    font-size: 3.125rem;
    font-weight: var(--fontwstandard);
    color: var(--primarycolor);
}

/* Section sub headline */
h3 {
    margin: 0rem 0rem;
    font-size: 2.125rem;
    color: var(--primarycolor);
}

/* Category */
h4 {
    margin: 0rem;
    font-size: 1.125rem;
    color: var(--primarycolor);
    opacity: .5;
}

h5 {
    font-family: 'Open sans';
    font-size: 1.125rem;
    color: var(--secondarycolor);
}

p {
    font-size: 1rem;
    font-family: 'Open Sans';
    max-width: 25rem;
}


/* HEADER/NAV */
header {
    min-height: 10vh;
    background-color: var(--primarycolor);
    display: flex;
}

.nav-container {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.site-nav {
    display: flex;
}

.logo {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: 'Open Sans';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.logo a {
    color: white;
}

.logo img {
    height: 1.8rem;
}

.site-nav a {
    color: var(--secondarycolor);
    text-transform: uppercase;
    font-family: 'Mohave';
    font-size: 1.25rem;
    padding: 0;
    margin: 0 1.5rem;
    position: relative;
    transition: all ease-in-out 150ms;
}

.site-nav a:hover {
    color: var(--accentcolor);
}

.site-nav a::before {
    content: '';
    display: block;
    height: 2px;
    background-color: var(--secondarycolor);
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 150ms;
}

.site-nav a:hover::before {
    width: 100%;
}

.mobile-nav-toggle {
    display: none;
}

/* HAMBURGER MENU */

@media (max-width: 670px) {
    .nav-container {
        justify-content: center;  
    }

    .site-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        background: hsl(0 0% 5% / 1);
        padding: 10rem 2rem;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .site-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    @supports (backdrop-filter: blur(4rem)) {
        .site-nav {
            background: hsl(0 0% 0% / 0.6);
            backdrop-filter: blur(4rem);
        }
    }

    .site-nav a {
        display: flex;
        justify-content: end;
        margin: 0;
        padding: 1rem;
        font-size: 2rem;
        border-bottom: 1px solid hsl(0 0% 100% / 0.1);
    }

    .site-nav a::before {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 9999;
        background-color: white;
        box-shadow: var(--boxshadow);
        border: 0;
        border-radius: .25rem;
        background-image: url("../img/menu.svg");
        background-position: center;
        background-size: 2rem;
        background-repeat: no-repeat;
        width: 4rem;
        height: 4rem;
        bottom: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../img/cross.svg");
    }
}


/* CENTER ALL SECTIONS */
#hero, #featured, #portfolio, #skills, #about {
    text-align: center;
}

/* HERO */

#hero {
    background: url("../img/hero-img-blurbw.jpg") no-repeat center;
    background-size: cover;
    /* background-position-y: 280px; */
    max-width: 100%;
    height: 90vh;
    /* margin-bottom: -20rem; */
}


#hero h1 {
    padding: 10rem 4rem 2rem 4rem;
    line-height: .9;
}

#hero p {
    font-size: 1.1rem;
    margin: 3rem 4rem;
    color: white;
}

.hero-cta {
    position: relative;
    z-index: 2;
    background-color: var(--accentcolor);
    color: var(--secondarycolor);
    padding: 1rem 2rem;
    border: 0;
    border-radius: var(--borderradius);
    font-family: 'Mohave';
    font-weight: medium;
    font-size: 1.5rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

.hero-cta:hover {
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
  }
/* FEATURED */

.wrapper {
    background: white;
    padding-top: 3rem;
    max-width: 1500px;
}

#featured p {
    padding: 2rem;
    margin-inline: auto;
}

#featured img {
    width: 100%;
}


/* CASES/PORTFOLIO */

#portfolio { 
    max-width: 1200px;
}

.case-container {
    position: relative;
    padding-bottom: 1rem;
}

.case-container:last-child {
    padding-bottom: 0;
}

.topleft {
    pointer-events: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    font-size: 2.25rem;
    text-transform: uppercase;
    color: black;
    text-shadow: 0px 1px 1px hsl(0 0% 100% / 0.6);
}

.topleft-white {
    color: white;
    text-shadow: 0px 1px 1px hsl(0 0% 0% / 0.6);
}

.case-container img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: relative;
}

.case-container a {
    padding: 0;
    cursor: pointer;
}

/* CASES OVERLAY */
.overlay-container {
    display: none;
    position: absolute;
    text-align: center;
    top: 0rem;
    left: auto;
}

/* CASES DETAILS */
.wrapper-details {
    text-align: center;
    background-color: var(--backgroundcolor);
    max-width: 1500px;
    margin-inline: auto;
}

#details p {
    padding: 4rem 2rem 1rem 2rem;
    margin-inline: auto;
}

#details img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

/* SKILLS */
#skills {
    padding-top: 3rem;
    padding-bottom: .25rem;
    background: white;
}

.wrapper-skills {
    max-width: 1200px;
}

.skills-container {
    background-color: var(--primarycolor);
    padding: 2rem 5rem;
    margin: 1.5rem 1rem;
    border-radius: .5rem;
}

.skills-container p {
    color: var(--secondarycolor);
}

/* ABOUT */

#about {
    max-width: 1500px;
}

#about p {
    padding: 2rem;
}

#about img {
    width: 100%;
}

/* CONTACT FORM */
.contact {
    text-align: center;
}

.contact p {
    padding: 1rem 4rem;
}

  
label {
    display: block;
    color: var(--primarycolor);
    margin: .5rem 0;
}
  
input, textarea {
width: 70%;
padding: .8em;
margin-bottom: 1em;
border-radius: .25rem;
border: 1px solid #c4c4c4;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}
  
input[type="submit"] {
background-color: var(--accentcolor);
color: white;
margin-bottom: 5em;
display: inline-block;
padding: .8em 2em;
/* width: unset; */
cursor: pointer;
font-family: "Mohave", sans-serif;
font-size: 1.25rem;
}
  
iframe {
/* display: none; */
width: 100%;
height: 300px;
}

/* FOOTER */

footer {
    padding: 4rem 1rem 1rem 1rem;
    background-color: var(--primarycolor);
}

.wrapper-footer {
    max-width: 1500px;
}

footer h3 {
    color: var(--secondarycolor);
}

footer p, a {
    color: var(--secondarycolor);
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0;
    font-family: 'Open sans';
    padding: .25rem 0rem;
}

footer .copy p {
    display: block;
    text-align: center;
    margin-top: 2rem;
    justify-content: center;
    margin-inline: auto;
    max-width: 30rem;
}

footer img {
    width: 2rem;
}

/* MEDIA RESPONSIVE */

/* Tablets portrait */
@media (min-width: 670px) {
    header {
        position: fixed;
        top: 0;
        z-index: 9999;
        margin-inline: auto;
        width: 100%;
    }

    #hero {
        height: 100vh;
    }

    #hero p {
        margin-inline: auto;
    }

    #hero, #portfolio, #about, #details {
        padding-top: 10vh;
    }
/* 

    section, .skills {
        margin-inline: auto;
    }

    .featured {
        display: flex;
        margin-block: 10rem;
    }

    .featured-left {
        text-align: left;
    }

    .featured-right img {
        border-radius: var(--borderradius);
    } */
}

/* Small screens/laptops */
@media (min-width: 850px) {

    #skills,
    #portfolio,
    .wrapper,
    .wrapper-skills,
    .wrapper-footer,
    .wrapper-details,
    #about {
        margin-inline: auto;
    }

    /* Split view for featured and details */
    .wrapper, .wrapper-details {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-content: center;
        gap: 2rem;
        padding: 10rem 2rem;
        align-items: center;
    }

/* Grid for detail images */
    .wrapper-details:last-child {
        grid-template-columns: 1fr 1fr;
    }

    h2 {
        margin: 0;
    }

    .featured-left, .details-left {
        text-align: left;
        align-self: center;
    }

    #featured p, #details p {
        padding: 0;

    }

    #featured img, #details img {
        border-radius: var(--borderradius);
        object-fit: cover;
    }

    #portfolio {
        padding: 10rem 2rem;
    }

    .container-portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 2rem;
    }

    .case-container img {
        border-radius: var(--borderradius);
    }

    #skills {
        padding: 10rem 2rem;
    }

    #skills .container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 2rem;
    }

    .skills-container {
        padding: 1.25rem;
        margin: 0;
    }

    #about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 10rem 2rem;
        align-items: center;
    }

    #about p {
        text-align: left;
        padding: 0;
    }

    #about h2 {
        grid-column: span 2;
    }

    #about img {
        border-radius: var(--borderradius);
    }

    .wrapper-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer > * {
        padding: 1rem;
    }

    footer .copy {
        grid-column: 1 / 4;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    #featured {
        background-color: white;
    }

    .featured-left, .details-left {
        margin-inline: auto;
    }

    #about p {
        margin-inline: auto;
    }
}

/* LARGE */
@media (min-width: 1680px) {
    
}